#result {
    background-color: #00573F;
    min-width: 100px;
    min-height: 20px;
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}

body {
    background-color: #008B8B;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#text-input {
    margin-bottom: 10px;
    margin-top: 5px;
}